.sidebar {

  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  justify-content: space-between;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link {
  display: flex;
  flex-direction: column;
  height: 74px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-family: Roboto, Arial;
  cursor: pointer;
  
}

.sidebar-link:hover {
  background-color: lightgray;
}

.sidebar-link > img {
  
  height: 30px;
  margin-bottom: 4px;
  
} 